<!DOCTYPE html>
<htmllang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>udate employee details</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
           integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
   <div class="container">
   <h1>employee update</h1>
   <hr>
<form action="#" th:action="@{/saveEmployee}"th:object="${employee}"
       method="POST">
    <input type="hidden" th:field = "*{id}"/>
     <br>
     <input type="text" th:field = "*{name}" class="form control mb-4 col-4"/>
     <br>
     <input type="text" th:field = "*{email}" placeholder="Emp Email" class="form control mb-4 col-4"/>
     <br>
     <input type="text" th:field = "*{age}"  class="form control mb-4 col-4"/>
     <br>
     <input type="text" th:field = "*{sal}"  class="form control mb-4 col-4"/>
     <br>
     <button type="submit" class="btn btn-info col-2">update Employee</button>
</form >
<hr>
<a th:href = "@{/}">back to Employee List</a>
</div>
</body>
</html>